  <form id="landingForm">
    <button type="button"><a type="button" href="/">Show all teachers</a></button>
    <button type="button"><a type="button" href="/find">Find</a></button>
    <button type="button"><a type="button" href="/add">Add</a></button>
    <button type="button"><a type="button" href="/delete">Delete</a></button>
    <button type="button"><a type="button" href="/update">Update</a></button>
    <button type="button"><a type="button" href="/sort">Sort</a></button>
    <button type="button"><a type="button" href="/filter">Filter</a></button>
    <button type="button"><a type="button" href="/info">Extra Info</a></button>
  </form>    